
<div class="row">

	<!-- The Left side containing the Form -->
	<div class="col-md-6 col-centered">

		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">
					<span class="h4" >Add Client Asset</span>

					<div class="pull-right">
					</div>
				</div>

				<br />

				<div class="row">
					<div class="col-md-10 col-centered">
						<%= render 'form', client_asset: @client_asset %>
					</div>
				</div>
			</div>
			<!-- Panel Heading End -->
		</div>

	</div>
	<!-- The Left Side End -->

</div>