<!-- 2018-04-21

Title:
	Online Lending and Loan Management with Accounting and Decision Support System for Antipolo City Government Employees Credit Cooperative

Author: 
	Leopoldo Deogenes P. Cuesta II
	BS-IT Student
	AMA Computer University, College of East Rizal -->


	
<div class="row">

	<div class="col-md-5 col-centered">

		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-12">
						<div class="panel_title_to_the_left">
							Update Admin Profile
						</div>
						<div class="panel_buttons_to_the_right">
							<%= link_to 'Show', @admin_profile, class: 'btn btn-sm btn-success' %> |
							<%= link_to 'Back', admin_profiles_path, class: 'btn btn-sm btn-success' %>
						</div>
					</div>

				</div>

				<hr>
				
				<div class="row">
					<div class="col-md-10 col-centered">
					
						<%= render 'form', admin_profile: @admin_profile %>
					</div>
				</div>
			</div>
			<!-- End Panel Heading -->
		</div>

	</div>

</div>