<div class="row">

	<div class="col-md-5">

		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">
					<span class="h4" >Complete your Profile</span>

					<div class="pull-right">
						<%= link_to 'Back', admin_profiles_path %>
					</div>
				</div>

				
				<br/>
				<hr/>
			

				<div class="panel-body">
					<%= render 'form', admin_profile: @admin_profile %>
				</div>

			</div>
			<!-- Panel Heading End -->
		</div>

	</div>

</div>