
<div class="row">
	<div class="col-md-12">

		<!-- The Container -->
		<div class="row">
			<div class="col-md-10 col-centered">

				<div>
					<%= image_tag 'report_header.PNG', alt: 'ACGECCO', class: 'img-responsive col-centered' %>
				</div>

				<!-- The Body -->
				<div>

					<h3><center>Contacts</center></h3>
					<br>

					<h4><cetner>Contact us</cetner></h4>

					<p>
						We welcome your suggestions and comments on our services. This unit is dedicated to handle complaints, opinions and appreciations from the public.
					</p>

					<br>

					<div class="col-md-5">

						<blockquote>
							<table class="table">
								<tbody>
									<tr>
										<td>Telephone</td>
										<td>689-4500</td>
									</tr>

									<tr>
										<td>Fax</td>
										<td>689-4532</td>
									</tr>

									<tr>
										<td>Email</td>
										<td>feedback@antipolo.ph</td>
									</tr>

								</tbody>
							</table>
							
						</blockquote>

					</div>
					<!-- End col-md-8 -->
					


				</div>
				<!-- Body End -->


			</div>
		</div>
		<!-- End Container -->


	</div>
	<!-- End col-md-12 -->
</div>
<!-- End Row -->