
<div class="row">
		<div class="col-md-10 col-centered">

				<div class="well well-custom">

						<div class="well-header">
							<div class="well-title">
								Requesting Loans
							</div>

							<div class="well-right">
								
						</div>

						<div class="row">

							<div class="col-md-6" style="margin-bottom: 25px;">
							   	<div class="embed-responsive embed-responsive-16by9" style="margin-left: 25px">

									<iframe src="https://player.vimeo.com/video/263107884" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

								</div>

								
							</div>

							<div class="col-md-6">
								

								<h3>Frequently Asked Questions</h3>
								<hr>

								<h4>So I filed my Loan Request, what else should I do?</h4>
								<p>After filing your loan request, you must also submit the photocopy of the required documents listed in that type of loan service.</p>

								<h4>How long should I wait?</h4>
								<p>Loan evaluation usually takes about three (3) to seven (7) working days to complete.</p>


								<h4>Will I receive some form of notification?</h4>
								<p>Yes. Whether you Loan Request have been approved, disbursed, or rejected we'll send you some notification via email.</p>
							</div>
						</div>

				</div>


		</div>
</div>

