

<%= render 'layouts/public_carousel' %>



<div class="row">
	<div class="col-md-12" style="margin: 55px 0 15px 0;">


		<% unless @articles.empty? %>
			<% @articles.each do |article| %>
				<div class="col-md-4">
					<h4><%= article.title %></h4>
					<p class="justify_me"><%= truncate(article.body, length: 200) { link_to 'continue reading', show_article_financing_path(article), class: "ikumai" } %></p>
				</div>
			<% end %>
		<% end %>

	</div>
	<!-- col-md-12 End -->
</div>
<!-- div.row End -->




<%= image_tag "financing.jpg", alt: 'Management Dashboard', class: "img-responsive col-centered my_banner" %>


