
<div class="row">
	<div class="col-md-12">

		<!-- The Container -->
		<div class="row">
			<div class="col-md-10 col-centered">

				<div>
					<%= image_tag 'report_header.PNG', alt: 'ACGECCO', class: 'img-responsive col-centered' %>
				</div>

				<!-- The Body -->
				<div>

					<h3><center>The Organization</center></h3>
					<br>

					<p class="publications justify_me">
						Antipolo City Government Employees Credit Cooperative (ACGECCO) was established last November 6, 2002 as Peoples Organization first before it became a cooperative. Spearheaded by former Cong. Angelito C. Gatlabyan this people’s organization registered as the Antipolo City Government Employees Credit Cooperative or ACGECCO to the Cooperative Development Authority (CDA) with an objective of providing a wide service to the employees of the City Government of Antipolo.  The services they can avail are: cash loan, rice loan, furniture and gadget loans, shoes tie up with Le Donne Bolzano. Members can also avail of the emergency loan for hospitalization and burial purposes only. Aside from loans, investment of members like Share Capital, Savings Deposit, Time Deposit will benefit a Dividend and Interest with no withholding tax every end of fiscal year.
						Please see Attached profile of the ACGECCO for some details.
					</p>

					<br>

					<div class="col-md-8 col-centered">
						<table class="table">
							<tbody>

								<tr>
									<td>Registration No:</td>

									<td>LGA-5512 Re-registration No. 9520-040030802</td>
								</tr>

								<tr>
									<td>Number of years in operation: </td>

									<td>14 years</td>
								</tr>

								<tr>
									<td>Line of Business: </td>

									<td>Credit, Savings, Rice Trading, Xerox</td>
								</tr>

								<tr>
									<td>Common Bond of Membership: </td>
									
									<td>Institutional (Government Employees)</td>
								</tr>

								<tr>
									<td>Certificate of Compliance: </td>

									<td>No. 04-16-0535, valid until April 30, 2018</td>
								</tr>

								<tr>
									<td>Business Permit: </td>

									<td>No. 2019-004068, January 18, 2019</td>
								</tr>

								<tr>
									<td>TIN & SSS: </td>

									<td>228-776-531-000 / 03-9071605-9</td>
								</tr>

								<tr>
									<td>Affiliation:</td>

									<td>Antipolo City Cooperative Federation (ACCFED)</td>
								</tr>

							</tbody>

						</table>
					</div>


				</div>
				<!-- Body End -->


			</div>
		</div>
		<!-- End Container -->


	</div>
	<!-- End col-md-12 -->
</div>
<!-- End Row -->