
<div class="row">
	<div class="col-md-12">

		<!-- The Container -->
		<div class="row">
			<div class="col-md-10 col-centered">

				<div>
					<%= image_tag 'report_header.PNG', alt: 'ACGECCO', class: 'img-responsive col-centered' %>
				</div>

				<!-- The Body -->
				<div>

					<h3><center>Vision and Mission</center></h3>
					<br>

					<h4><cetner>Our Vision</cetner></h4>

					<blockquote class="custom">
						To build and nurture our relationship with the stakeholders through integration of cooperative principles and values with our daily endeavors and services. As well as guiding our stakeholders in dealing and managing their life events by providing them valuable options on financial management and individual effectiveness.
					</blockquote>
					

					<h4><cetner>Our Mission</cetner></h4>

					<blockquote class="custom">
						The organization in collaboration with versatile leaders and the financing management team, provide quality, valuable and relevant products and services embracing all phases of human life to prepare our stakeholders in transforming themselves into effective social agents, lifelong learners and productive individuals.
					</blockquote>


					<h4><cetner>Core Values</cetner></h4>

					<blockquote class="custom">
						Professionalism,
						Partnership,
						Integrity,
						Improvement,
						People-oriented,
						Accountability 
					</blockquote>


					


				</div>
				<!-- Body End -->


			</div>
		</div>
		<!-- End Container -->


	</div>
	<!-- End col-md-12 -->
</div>
<!-- End Row -->