

<div class="row">

	<div class="col-md-6 col-centered">

		<div class="panel panel-default">
			<div class="panel-heading panel-heading-custom">
				<div class="panel-title">
					<span class="h4" >Define Loan Doc</span>

					<div class="pull-right">
						<%= link_to 'Back', loan_docs_path, class: "btn btn-sm btn-info" %>
					</div>
				</div>

				<br/>
				
			</div>

				<div class="row">
					<div class="col-md-10 col-centered">

						<%= render 'form', loan_doc: @loan_doc %>
					</div>
				</div>
		</div>
		<!-- End Panel Heading -->
		

	</div>

</div>