


<div class="row">
	<div class="col-md-4 col-centered">
		<div class="well well-custom">
			<p>
			  <strong>Name:</strong>
			  <%= @loan_doc.name %>
			</p>

			<p>
			  <strong>Compulsory:</strong>
			  <%= @loan_doc.compulsory %>
			</p>

			<%= link_to 'Edit', edit_loan_doc_path(@loan_doc), class: 'btn btn-sm btn-success' %> |
			<%= link_to 'Loan Documents', loan_docs_path, class: 'btn btn-sm btn-success' %>
		</div>
	</div>
</div>