<!-- 2018-04-21

Title:
	Online Lending and Loan Management with Accounting and Decision Support System for Antipolo City Government Employees Credit Cooperative

Author: 
	Leopoldo Deogenes P. Cuesta II
	BS-IT Student
	AMA Computer University, College of East Rizal -->


	
<div class="row">

	<div class="col-md-8 col-centered">

		<div class="panel panel-default">
			<div class="panel-heading panel-heading-custom">

				<div class="row">
					<div class="col-md-12">
						<div class="panel_title_to_the_left">
							Edit Article
						</div>

						<div class="panel_buttons_to_the_right">
							<%= link_to 'Show', @article, class: "btn btn-sm btn-success" %>
							<%= link_to 'Articles', articles_path, class: "btn btn-sm btn-success" %>
						</div>
					</div>

				</div>
			

				
			</div>

				<div class="row">
					<div class="col-md-10 col-centered">

						<%= render 'form', article: @article %>					
					</div>
				</div>
		</div>
		<!-- End Panel Heading -->
		

	</div>

</div>