<!-- 2018-04-21

Title:
	Online Lending and Loan Management with Accounting and Decision Support System for Antipolo City Government Employees Credit Cooperative

Author: 
	Leopoldo Deogenes P. Cuesta II
	BS-IT Student
	AMA Computer University, College of East Rizal -->


<span class="shiraishi update_message" style="font-size: 1.2em;">Updated!</span>

<script>
	$('.update_message').hide().fadeIn(500, function() {
		$(this).fadeOut(5000, function () {
			$(this).remove();
		});
	});
</script>