

<div class="row">

	<!-- The Left side containing the Form -->
	<div class="col-md-6 col-centered">

		<div class="panel panel-default">
			<div class="panel-heading panel-heading-custom">
				<div class="panel_title_to_the_left">
					Client Profile
				</div>
				<div class="panel_buttons_to_the_right">
					<%= link_to 'Show', @client_profile, class: 'btn btn-sm btn-success' %> 
				</div>


				<div class="row">
					<div class="col-md-10 col-centered">
						<%= render 'user_partials/form_for_client', shiraishi: @client_profile %>
					</div>
				</div>
			</div>
			<!-- Panel Heading End -->
		</div>

	</div>
	<!-- The Left Side End -->

</div>