<!-- 2018-04-21

Title:
	Online Lending and Loan Management with Accounting and Decision Support System for Antipolo City Government Employees Credit Cooperative

Author: 
	Leopoldo Deogenes P. Cuesta II
	BS-IT Student
	AMA Computer University, College of East Rizal -->



<div class="row">

	<!-- The Left side containing the Form -->
	<div class="col-md-6 col-centered">

		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">
					<span class="h4" >Edit Activity Log</span>

					<div class="pull-right">
						<%= link_to 'Show', @activity_log %> |
						<%= link_to 'Back', activity_logs_path %>
					</div>
				</div>

				<br />

				<div class="row">
					<div class="col-md-10 col-centered">
						<%= render 'form', activity_log: @activity_log %>
					</div>
				</div>
			</div>
			<!-- Panel Heading End -->
		</div>

	</div>
	<!-- The Left Side End -->

</div>