<div class="row">

	<div class="col-md-6 col-centered">

		<div class="panel panel-default">
			<div class="panel-heading panel-heading-custom">
				<div class="panel-title">
					<span class="h4" >Edit Credit</span>

					<div class="pull-right">
						<%= link_to 'Back', edit_accounting_entry_path(@cr_entry.accounting_entry), class: "btn btn-sm btn-info" %>
					</div>
				</div>

				<br/>
				
			</div>

				<div class="row">
					<div class="col-md-10 col-centered">

						<%= render partial: 'form', locals: { cr_entry: @cr_entry } %>			
					</div>
				</div>
		</div>
		<!-- End Panel Heading -->
		

	</div>

</div>