<!-- 2018-04-21

Title:
	Online Lending and Loan Management with Accounting and Decision Support System for Antipolo City Government Employees Credit Cooperative

Author: 
	Leopoldo Deogenes P. Cuesta II
	BS-IT Student
	AMA Computer University, College of East Rizal -->
	

<div class="row">

	<div class="col-md-6 col-centered">

		<div class="panel panel-default">
			<div class="panel-heading panel-heading-custom">
				<div class="panel-title">
					<span class="h4" >Editing Accounting Entry</span>

					<div class="pull-right">
						<%= link_to 'Back', show_accounting_for_loan_loan_path(@accounting_entry.accounting_book.loan), class: "btn btn-sm btn-info" %>
					</div>
				</div>

				<br/>
				
			</div>

				<div class="row">
					<div class="col-md-10 col-centered">
						<%= render 'form', accounting_entry: @accounting_entry  %>
					</div>
				</div>
		</div>
		<!-- End Panel Heading -->

	</div>

</div>