<!-- 2018-04-21

Title:
	Online Lending and Loan Management with Accounting and Decision Support System for Antipolo City Government Employees Credit Cooperative

Author: 
	Leopoldo Deogenes P. Cuesta II
	BS-IT Student
	AMA Computer University, College of East Rizal -->


<h1>New Accounting Entry</h1>

<%= render 'form', accounting_entry: @accounting_entry %>

<%= link_to 'Back', accounting_entries_path %>
