
<style>
	@import url('https://fonts.googleapis.com/css?family=Roboto');
	
	.container 
	{
		font-family: 'Roboto', sans-serif;
	}
</style> 

<div class="container">
	<center>

		<%= image_tag 'https://i.imgur.com/BYVQh9H.jpg', alt: "ACGECCO" %>

		<h3>Greetings <%= @client.full_name %>!</h3>


		<p>Payment was successfully made for Loan Installment. Php <%= @amount %></p>

		<hr>

		<%= image_tag 'https://i.imgur.com/jdOHIp8.png', alt: "ACGECOO" %>


	</center>

</div>
