<!-- 2018-04-21

Title:
	Online Lending and Loan Management with Accounting and Decision Support System for Antipolo City Government Employees Credit Cooperative

Author: 
	Leopoldo Deogenes P. Cuesta II
	BS-IT Student
	AMA Computer University, College of East Rizal -->


<h1>Editing Client Doc</h1>

<%= render 'form', client_doc: @client_doc %>

<%= link_to 'Show', @client_doc %> |
<%= link_to 'Back', client_docs_path %>
