
<ul>

    <li><a class="active" href="#">Home</a></li>
     <li><a href="#">About</a></li>
    <li><a href="#">News & Updates</a></li>
    <div>ACGECCO</div>
</ul>


<div class="maincolor">
    <div class="content">
     <h1 class="head">Lorem ipsum dolor sit amet</h1>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla hendrerit urna ac felis condimentum, sit amet cursus lacus ultricies. Cras eget fringilla odio, quis varius felis. Ut elementum id mi sit amet elementum. Vestibulum ac venenatis lorem. Nulla tempus eu massa sit amet vehicula. Cras a mi a tellus posuere efficitur. Nam eros velit, venenatis sed sem sit amet, dictum egestas augue. Nam et iaculis metus. Cras sit amet tempus arcu. Donec feugiat consequat eros a porttitor.</p>
     <button class="btn btn-success">Action #1</button> <button class="btn btn-default">Action #2</button>
        </div>
</div>

<div class="main">
        <h1>Team and Administrators</h1>
    <div class="profiles">
        <img class="profile-pic" src="http://allanta.be/_grafix/noimage_person.png" width="200" height="200">
        <h2>Freelance Web Developer</h2>
        <h3>John Doe</h3>
        </div>
        
    <div class="profiles">
        <img class="profile-pic" src="http://allanta.be/_grafix/noimage_person.png" width="200" height="200">
        <h2>Artist & Writer</h2>
        <h3>Mary Lou</h3>
        </div>
        
    <div class="profiles">
        <img class="profile-pic" src="http://allanta.be/_grafix/noimage_person.png" width="200" height="200">
        <h2>MySQL Genius</h2>
        <h3>Martin Diaz</h3>
        </div>
        
    
        
        
        

</div>

<div class="foot"><h2>© 2018 ACGECCO</h2></div>


<style>
	@import url('https://fonts.googleapis.com/css?family=Audiowide');
	ul {
	    text-align:center;
	    padding-top:20px;
	    height:60px;
	    width:100%;
	}

	ul li {
	    
	    display:inline;
	    padding-right:15px;
	    float:left;
	}

	ul div {
	    font-family: 'Audiowide', cursive;
	    padding:0;
	    margin:0;
	    float:right;
	}



	ul li a {
	    text-decoration:none;
	    color:black;
	}

	ul li a:hover {
	    color:#00c3ff;
	    text-decoration:none;
	}




	ul {
	    border-bottom:#444444 1px solid;

	}

	body {
	    margin-left:200px;
	    margin-right:200px;
	    
	}

	.head {
	    margin-bottom:25px;
	}

	.foot {
	    border-top:dotted 1px black;
	    text-align:center;
	}

	.profile-pic {
	    border-radius:50%;
	}

	.profiles {
	    margin-top:25px;
	    margin-bottom:35px;
	}

	.maincolor {
	    margin-top:40px;
	    border-radius:3px;
	    background-color:#f4f4f4;
	    height:auto;
	    text-align:center;
	}

	.main {
	    margin-top:40px;
	    border-radius:3px;
	    height:auto;
	    text-align:center;
	}

	.content {
	   padding:20px;
	}
</style>