<div class="container">
	<div class="row">
		<div class="col-md-12">
			

			<!-- Admin Registration -->
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading panel-heading-custom">
						Admin Registration
					</div>
					
					<div class="panel-body">
						
							<div class="embed-responsive embed-responsive-16by9">
								<iframe src="https://player.vimeo.com/video/261949242" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							</div>
						
					</div>
				</div>
				<!-- Panel End -->
			</div>
			<!-- Admin Registration End -->




			<!-- Loan Manager Registration -->
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading panel-heading-custom">
						Loan Manager Registration
					</div>
					
					<div class="panel-body">
						
							<div class="embed-responsive embed-responsive-16by9">
								<iframe src="https://player.vimeo.com/video/262998934" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							</div>
						
					</div>
				</div>
				<!-- Panel End -->
			</div>
			<!-- Loan Manager Registration End -->



			<!-- Accountant Registration Registration -->
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading panel-heading-custom">
						Accountant Registration
					</div>
					
					<div class="panel-body">
						
							<div class="embed-responsive embed-responsive-16by9">
								<iframe src="https://player.vimeo.com/video/263001319" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							</div>
						
					</div>
				</div>
				<!-- Panel End -->
			</div>
			<!-- Accountant Registration Registration End -->



			<!-- Member / Client Registration -->
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading panel-heading-custom">
						Member/Client Registration
					</div>
					
					<div class="panel-body">
						
							<div class="embed-responsive embed-responsive-16by9">
								<iframe src="https://player.vimeo.com/video/263001901" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							</div>
						
					</div>
				</div>
				<!-- Panel End -->
			</div>
			<!-- Member / Client Registration End -->



		</div>

	</div>
	<!-- End Row -->
</div>
<!-- End Container -->