<div class="container">
	<div class="row">
		<div class="col-md-12">

			<% if current_admin || current_loan_manager || current_accountant %>

				<h3><center>Quick Start Video Guides</center></h3>

			<% else %>
				<h3 style="color: #ffffff;"><center>Quick Start Video Guides</center></h3>

			<% end %>

			<!-- Pagination -->
			<div class="center_pagination">
				<%= will_paginate @videos %>
			</div>

			<div class="row">
				<div class="col-md-12">
			
					<% @videos.each do |video| %>
						<!-- Video-->
						<div class="col-md-6">
							<div class="panel panel-default">
								<div class="panel-heading panel-heading-custom">
									<%= video.title %>
								</div>
								
								<div class="panel-body">
									
										<div class="embed-responsive embed-responsive-16by9">
											<iframe src=<%= vimeo_url(video.video_id) %> frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
										</div>
									
								</div>
							</div>
							<!-- Panel End -->
						</div>
						<!-- Video End -->

					<% end %>

				</div>
				<!-- col-md-12 -->

			</div>
			<!-- Row -->


			<!-- Pagination -->
			<div class="center_pagination">
				<%= will_paginate @videos %>
			</div>


		</div>
	</div>
</div>

