

<div class="row">

	<!-- The Left side containing the Form -->
	<div class="col-md-6 col-centered">

		<div class="panel panel-default">
			<div class="panel-heading panel-heading-custom">
				<div class="panel-title">
					<span class="panel_title_to_the_left" style="font-size: 1.5em;" >Editing Guarantor</span>

					<div class="panel_buttons_to_the_right">
						<%= link_to 'Show', @guarantor, class: 'btn btn-sm btn-success' %> |
						<%= link_to 'Back', guarantors_path, class: 'btn btn-sm btn-success' %>
					</div>
				</div>


				<div class="row">
					<div class="col-md-10 col-centered">
							<%= render 'form', guarantor: @guarantor %>
					</div>
				</div>
			</div>
			<!-- Panel Heading End -->
		</div>

	</div>
	<!-- The Left Side End -->

</div>