<div class='yeah_baby msg' style="font-family: roboto;">
	<%= image_tag 'checklist_incomplete.png', width: '150', class: 'img-responsive' %>

	<h3 style="font-family: georgia;"><strong><%= "DSS says..." %></strong></h3>
	<h5><strong><%= "Loan type's conditions aren't fully met:" %></strong></h5>
	<ul class="hirate">
			<% the_errors.each do |e| %>
				<li><%= e %></li>
			<% end %>
	</ul>
</div>

<script>
		$('.yeah_baby').hide().fadeIn(1000);
</script>