<div class="row">

	<div class="col-md-6 col-centered">

		<div class="panel panel-default">
			<div class="panel-heading panel-heading-custom">
				<div class="panel-title">
					<span class="h4" >Edit the Loan Request</span>

					<div class="pull-right">
						<% if current_client %>
							<%= link_to 'Available Services', services_financing_index_path, class: "btn btn-sm btn-info" %>
							|
						<% end %>


						<%= link_to 'Show', @loan, class: "btn btn-sm btn-info" %>

						<% if current_admin || current_loan_manager || current_accountant %>

							|
							<%= link_to 'Back', loans_path, class: "btn btn-sm btn-info" %>
						<% end %>
					</div>
				</div>

				<br/>
				
			</div>

				<div class="row">
					<div class="col-md-10 col-centered">

						<%= render 'form', loan: @loan %>					
					</div>
				</div>
		</div>
		<!-- End Panel Heading -->
		

	</div>

</div>