

<div class="row">

	<!-- The Left side containing the Form -->
	<div class="col-md-6 col-centered">

		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-12">
						<span class="panel_title_to_the_left" >Accountant Profile</span>

						<div class="panel_buttons_to_the_right">
							<%= link_to 'Show', @accountant_profile, class: 'btn btn-sm btn-success' %> |
							<%= link_to 'Back', accountant_profiles_path, class: 'btn btn-sm btn-success' %>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-md-10 col-centered">
						<%= render 'user_partials/form', shiraishi: @accountant_profile %>
					</div>
				</div>
			</div>
			<!-- Panel Heading End -->
		</div>

	</div>
	<!-- The Left Side End -->

</div>