<div class="row">


	<!-- The Left side containing the Form -->
	<div class="col-md-5">

		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">
					<span class="h4" >Complete your Profile</span>
				</div>
				<br />
				<hr />
			

				<div class="panel-body">
					<%= render partial: 'user_partials/form', locals: { shiraishi: @accountant_profile } %>
				</div>

			</div>
			<!-- Panel Heading End -->
		</div>

	</div>
	<!-- The Left side containing the Form -->

</div>