<!-- 2018-04-21

Title:
	Online Lending and Loan Management with Accounting and Decision Support System for Antipolo City Government Employees Credit Cooperative

Author: 
	Leopoldo Deogenes P. Cuesta II
	BS-IT Student
	AMA Computer University, College of East Rizal -->


	

<div class="row">


	<!-- The Left side containing the Form -->
	<div class="col-md-6 col-centered">

		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">
					<span class="h4" >Complete your Profile</span>
				</div>
				<br />
				<hr />
			

				<div class="row">
					<div class="col-md-10 col-centered">
						<%= render partial: 'user_partials/form', locals: { shiraishi: @accountant_profile } %>
					</div>
				</div>

			</div>
			<!-- Panel Heading End -->
		</div>

	</div>
	<!-- The Left side containing the Form -->

</div>