<!-- 2018-04-21

Title:
	Online Lending and Loan Management with Accounting and Decision Support System for Antipolo City Government Employees Credit Cooperative

Author: 
	Leopoldo Deogenes P. Cuesta II
	BS-IT Student
	AMA Computer University, College of East Rizal -->


<p>Hello <%= @resource.email %>!</p>

<p>We're contacting you to notify you that your password has been changed.</p>
