
@import "bootstrap-sprockets";
@import "bootstrap";


.table .separate_next_row
{
    padding-bottom: 5em;
}





.link-keyaki 
{
    color: #449E3E !important;
    text-decoration: underline;
}


textarea
{
    resize: none;
}




/*colorize .msg*/
.msg
{
    color: green;
}



/*colorize .msg-danger */
.msg-danger
{
    color: red;
}



/* Disable a link */
.not-active 
{
    pointer-events: none;
    cursor: default;
    background-color: gray;
}




/* Center a Column */
.col-centered
{
    float: none;
    margin: 15px auto 15px;
}






/*Override Panel-Heading Styling*/
.panel-default > .panel-heading-custom 
{
    background: #4e7f97; 
    color: #fff; 

    /*or*/

    /*background-image: none;
    background-color: black;
    color: white;*/
}

.panel-footer.panel-footer-custom-info
{
    background:  #D9EDF6;
}





.panel_title_to_the_left
{
    display: inline-block;
    margin-bottom: 25px;
}



.panel_buttons_to_the_right
{
    display: inline-block;
    float: right;
}





/*Style a Well kekeke*/
.well.well-custom
{
    background-color: #355667;
    color: #fff;
}

.well .well-title
{
    font-size: 1.5em;
    margin-bottom: 35px;
    display: inline-block;
}

.well .well-header
{
    margin-bottom: 25px;
}


.well .well-right
{
    float: right;
}




/*Override BS Navbar-Default Styling*/
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus 
{
	color: #fff;  /*Sets the text hover color on navbar*/
    background-color: #000;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus 
{
	color: white; /*BACKGROUND color for active*/
	background-color: #030033;
}

.navbar-default 
{
    background-color: #355667;
    border-color: #355667;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus 
{
    color: #262626;
   	text-decoration: none;

    /*This is green*/
  	background-color: #5FB65E;  /*change color of links in drop down here*/
}

.nav > li > a:hover,
.nav > li > a:focus 
{
    text-decoration: none;
    background-color: silver; /*Change rollover cell color here*/
}


.navbar-default .navbar-nav > li > a 
{
 	color: white; /*Change active text color here*/
}
/*Override BS Navbar-Default Styling End*/





