<% if shiraishi && shiraishi.errors.any? %>
	<div class="row">

		<div id="error_explanation col-md-10">
			
			<div class="panel panel-info">
				<div class="panel-body">
          
			          <div class="h4"><%= pluralize(shiraishi.errors.count, "error") %> prohibited this <%= shiraishi.class %> from being saved:</div>

			          <ul>
			            <% shiraishi.errors.full_messages.each do |message| %>
			              <li><%= message %></li>
			            <% end %>
			          </ul>

		        </div>
	        </div>
	        <!-- End of Panel -->

        </div>
        <!-- End Error Explaination -->

	<div>
	<!-- Row End -->

<% end %>
<!-- If End -->